.form-section{

}

.form-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 0;
}
.left-line-form{

}
.invalid-feedback,
.empty-feedback {
    display: none;
}

.was-validated :placeholder-shown:invalid ~ .empty-feedback {
    display: block;
}

.was-validated :not(:placeholder-shown):invalid ~ .invalid-feedback {
    display: block;
}

.is-invalid,
.was-validated :invalid {
    border-color: #dc3545;
}
.form-item{
    font-size: 24px;
    font-weight: 600;
    padding-left: 0;
    padding-bottom: 19px;
    padding-top: 5px;
}
.form-item::placeholder{
    color: #121212;
    font-weight: 600;
    transition: .3s;
}
.form-item:focus::placeholder{
    font-size: 0;
    transform: translateY(-3px);
}

/*custom radio button*/

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #626262;
}
[type="radio"]:not(:checked) + label{
    color: #626262;
}
[type="radio"]:checked + label{
    color: #51C14F;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:not(:checked) + label:before{
    border: 2px solid #626262;
}
[type="radio"]:checked + label:before{
    border: 2px solid #51C14F;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #51C14F;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/*custom radio button end*/

/*custom checkbox*/

label.label-checkbox {
    display: flex;
    align-items: center;
    color: #212121;
    position: relative;
    font-size: 21px;
    cursor: pointer;
}

input.item-checkbox {
    width: 0;
    height: 0;
    opacity: 0;
}

label.label-checkbox > span {
    width: 20px;
    height: 20px;
    flex: 0 0 20px;
    display: flex;
    justify-content: center;
    border: 2px solid #212121;
    margin-right: 15px;
    transition: all .3s;
}

input.item-checkbox:checked + label.label-checkbox > span {
    border: 2px solid #51C14F;
    animation: bounce 250ms;
}
input.item-checkbox:checked + label.label-checkbox{
    color: #51c14f;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    box-shadow: 0 0 0 30px #fff inset !important;
}


input.item-checkbox:checked + label.label-checkbox > span::before {
    content: '';
    position: absolute;
    top: 9px;
    left: 4px;
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    transform: rotate(45deg);
    transform-origin: 0 100%;
    animation: checked-box 125ms 250ms forwards;
}

.btn-send{
    width: 100%;
    max-width: 181px;
    border-radius: 14px;
    border: 2px solid #212121;
    padding-top: 8px;
    padding-bottom: 9px;
}
.btn-send-icon{
    position: absolute;
    left: 13%;
    top: -12px;
    width: 50px;
    height: 24px;
    background: #fff
}

@keyframes checked-box {
    0% {
        width: 0;
        height: 0;
        border-color: #51c14f;
        transform: translate(0,0) rotate(45deg);
    }
    33% {
        width: 4px;
        height: 0;
        border-color: #51c14f;
        transform: translate(0,0) rotate(45deg);
    }
    100% {
        width: 4px;
        height: 8px;
        border-color: #51c14f;
        transform: translate(0,-8px) rotate(45deg);
    }
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }
    33% {
        transform: scale(.7);
    }
    100% {
        transform: scale(1);
    }
}

/*custom checkbox end*/


@media screen and (min-width: 1771px){
    .form-title{
        font-size: 56px;
    }
    .form-title-do{
        font-size: 46px;
    }
}
@media screen and (max-width: 1770px){
    .form-title, .form-caption{
        font-size: 46px;
    }
    .form-title-do{
        font-size: 40px;
    }
    .form-send-agree-wrap, .form-radio-wrap{
        gap: 0;
    }
    label.label-checkbox, .form-radio-wrap label {
        font-size: 14px;
    }
    label.label-checkbox {
        top: -4px;
    }
}
@media screen and (max-width: 1500px){
    .form-title, .form-caption {
        font-size: 40px;
    }
}

@media screen and (max-width: 1440px){
    .form-title{
        font-size: 36px;
    }
    .form-title-do{
        font-size: 18px;
    }
}

@media screen and (max-width: 1279px){
    .form-radio-wrap{
        margin-bottom: 50px;
    }
    .form-item {
        font-size: 18px;
    }
}
@media screen and (max-width: 1100px){
    .form-send-agree-wrap{
        flex-direction: column;
    }
    .btn-send{
        margin: 33px auto 0;
    }
}
@media screen and (max-width: 1024px){
    .form-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .form-section{
        padding: 68px;
    }
    .form-title{
        margin-bottom: 29px;
    }
    .form-caption{
        max-width: 270px;
        font-size: 26px;
        margin-bottom: 52px;
    }
    .form-questions{
        max-width: 190px;
        margin-left: 50px;
    }
    .form-caption span:last-of-type{
        margin-left: 20px;
    }
    .left-section{
        margin-bottom: 108px;
    }
    .form-dots-pic{
        max-width: 68px;
        right: 0;
        top: 0;
    }
}

@media screen and (max-width: 767px){
    .form-title {
        font-size: 26px;
    }
    .form-section {
        padding: 37px 16px;
    }
    .form-dots-pic {
        max-width: 30px;
        right: 0;
        top: -27px;
    }
}
@media screen and (max-width: 599px){
    .form-radio-wrap{
        flex-direction: column;
    }
    .form-radio{
        margin-left: 0 !important;
        margin-top: 30px;
    }
}
@media screen and (max-width: 540px){
    .form-title{
        font-size: 20px;
    }
    .left-section{
        margin-bottom: 40px;
    }
    .form-title{
        margin-bottom: 20px;
    }
    .form-caption{
        max-width: 170px;
        font-size: 16px;
        margin-bottom: 30px;
    }
    .form-item {
        font-size: 14px;
    }
}
