.footer-section{
    border-radius: 0 60px 0 0;
    background: linear-gradient(264.71deg, #18201E 0%, #121212 100%);
}
.footer-social{
    transition: .3s;
}
.footer-social:hover{
    transform: scale(1.2);
}
.section-footer-navbar ul li a{
    transition: .3s;
}
.section-footer-navbar ul li a:hover{
    opacity: .7;
}
@media screen and (min-width: 1101px){
    .nav-contact-info{
        position: absolute;
    }
}

@media screen and (max-width: 1100px){
    .section-footer-navbar{
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }
    .nav-contact-info.tel{
        order: 1;
    }
    .nav-contact-info.soc{
        margin-bottom: 20px;
    }
    .footer-section{
        padding: 30px 36px 16px;
    }
    .nav-links{
        margin-bottom: 32px;
    }
}

@media screen and (max-width: 410px){
    .footer-nav-item, .nav-links li{
        margin-left: 22px;
    }
    .footer-nav-item:first-of-type, .nav-links li:first-of-type{
        margin-left: 0;
    }
}
