/* .swiper {
  height: 450px;
  width: 100% !important;
}
.swipper-wrapper {
  height: 450px;
  width: 100% !important;
}
.swiper-slide {
  background-color: red;
}


.finger {
  animation: fingerRotate 25s cubic-bezier(.55,.5,.45,.55) infinite;
  animation-delay: 0s;
  animation-duration: 2s;
  
}

@keyframes fingerRotate {
  0% {
    transform: rotateZ(0deg);
  }
  
  50% {
    transform: rotateZ(50deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
} */


.swiper-line {
    width: 100%;
    max-width: 702px;
}

.swiper-line-img {
    width: 100%;
}

.swiper-circle {
    top: -9px;
}

.swiper-scroll {
    padding-right: 37px;
    margin-top: 7px;
    margin-bottom: 37px;
}

.swiper-count {
    margin-right: 37px;
    margin-left: 28px;
}
.swiper-slide {
    transition: all .5s ease-in;
    border-radius: 0 0 20px 0;
    overflow: hidden;
}
.active-slide.swiper-slide{
    border-radius: 60px 0 0 0;
}

.slide {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: top;
    height: 480px;
    transition: all .5s ease-in;
}
.topslide{
    /*max-width: 260px;*/
    transition: all .5s ease-in;
}

.active-slide {
    width: 770px !important;
    transition: .5s;
}
.portfolio-slider{
    width: calc(100% + 40px); /* Збільшуємо ширину слайдера на 40px (20px для кожного слайда) */
    margin-left: -20px;
}
.finger-packges-slider{
    position: relative;
    left: 36px;
    top: 37px;
}
.swiper-container-packages{
    position: relative;
    /*left: 40px;*/
}
.swiper-bottom{
    left: 100px;
    margin-top: -65px;
}
.slide-icon{
    width: 100%;
    max-width: 101px;
}
.finger{
    left: 37px;
    top: 29px;
}
.info-block{
    background: rgba(0, 0, 0, 0.46);
    backdrop-filter: blur(40px);
}
.info-block{
    padding: 17px 40px 22px;
    height: 117px;
    width: 100%;
}
.info-block h3{
    /*font-size: 24px;*/
    font-weight: 700;
    color: #EFF6F4;
    margin-left: 7px;
}
.info-description{
    color: #EFF6F4;
    font-size: 14px;
    font-weight: 400;
}
.link-portfolio{
    max-width: 150px;
    padding: 0;
}
.block-technologies{}
.block-technologies-title{
    font-size: 14px;
    font-weight: 600;
    color: #EFF6F4;
}
.block-technologies-desc{
    font-size: 12px;
    font-weight: 400;
    color: #EFF6F4;
    margin-top: 3px;
}
.technologies-white-text .block-technologies-title, .technologies-white-text .block-technologies-desc{
    color: #292929;
}
.icon-f{
    max-width: 95px;
    margin-bottom: 40px;
}
.back-words{
    left: 50%;
    transform: translateX(-50%);
}
@media screen and (max-width: 1386px){
    .title-container{
        font-size: 46px;
    }
}
@media screen and (max-width: 1376px){
    .active-slide {
        width: 532px !important;
        transition: .3s;
    }
    .active-slide .slide {
        width: 100%;
        max-width: 100%;
        object-fit: cover;
        object-position: top;
        height: 480px;
    }
}

@media screen and (max-width: 1279px){
    .finger-packges-slider{
        position: relative;
        left: 36px;
        top: 10px;
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 1100px){
    .swiper-line{
        max-width: 400px;
    }
}

@media screen and (max-width: 700px){
    .swiper-scroll{
        flex-direction: column;
        margin-top: 39px;
        padding-right: 0;
    }
    .swiper-line {
        max-width: 302px;
    }
    .swiper-circle {
        top: -11px;
    }
    .swiper-control-wrap{
        margin-top: 36px;
    }
    .wrap-pic-hand{
        position: absolute;
        right: -60px;
        top: -7px;
        max-width: 42px;
    }

    .swiper-count-number{
        margin: 0 20px;
    }
    .custom-next, .custom-prev{
        width: 20px;
    }
    .swiper-bottom {
        left: unset;
    }
    .slide-icon {
        max-width: 75px;
    }
}
@media screen and (max-width: 540px){
    .slide-title, .slide-description{
        font-size: 12px;
    }
    .slide-description{
        width: 100%;
    }
    .finger-packges-slider{
        position: relative;
        left: 13px;
        top: 76px;
        max-width: 42px;
        z-index: 100;
    }
    .info-description{
        display: none;
    }
    .info-block{
        flex-direction: column;
        padding: 17px 16px;
        justify-content: space-between;
    }
    .info-block h3 {
        font-size: 14px;
    }
    .link-portfolio {
        max-width: 105px;
        padding: 0;
    }
    .active-slide {
        width: 320px !important;
    }

    /*.link-portfolio{*/
    /*    position: absolute;*/
    /*    top: 0;*/
    /*    left: 0;*/
    /*    width: 100%;*/
    /*    height: 100%;*/
    /*    z-index: 100;*/
    /*}*/
}
